@use "reset";
@use "variables/global";
@use "themes/light";
@use "themes/dark";

* {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
