.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--sidebar-bg-color);
  position: relative;
  transition: background-color 0.5s ease, color 0.15s ease, width 0.3s;
}

.collapseBtn {
  position: absolute;
  right: 0;
  bottom: 50%;
}

.items {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.link {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;

  .sidebarIcon {
    margin-right: 10px;
    font-size: 18px;
    transition: font-size 0.3s;
    fill: var(--inverted-bg-color);
  }

  .linkText {
    transition: opacity 0.3s, width 0.3s;
    color: var(--primary-color);
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link {
    .sidebarIcon {
      font-size: 24px;
    }

    .linkText {
      opacity: 0;
      width: 0;
      overflow: hidden;
    }
  }
}
