.app.light {
  --bg-color: #f8f9fa;
  --sidebar-bg-color: #d8d8d8;
  --inverted-bg-color: #343a40;
  --primary-color: #6c757d;
  --secondary-color: #5a6268;
  --inverted-primary-color: #e9ecef;
  --inverted-secondary-color: #adb5bd;
}
