.btn {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: none;
  border-radius: 8px;
  padding: 7px 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
}

.btn:hover {
  box-shadow: 0 6px 12px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 10%);
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 1px 3px rgb(0 0 0 / 10%);
}
